body{
  margin:0;
  padding:0;
  text-align:left;
  font-size:13px;
  font-family:arial, helvetica, sans-serif;
  color: #000000;
  background-color: #1c478;
  background-image:url(../images/background.png);
  background-repeat: repeat-x;
}
