body {
  background: lightblue;
}

h1 {
  text-align: center;
}

#div_header {
  width: 1000px;
  text-align: center;
}

#main_div {
  border: solid black 2px;
    display: inline-flex;
    width: 1000px;
}

#div_links {
  border: solid black 2px;
  border-radius: 9px;
  width: 200px;
  height: 250px;
  padding: 15px;
  margin-left: 5px;

}

#div_title {
  border: solid black 2px;
  border-radius: 9px;
  width: calc(100%-200px);
  height: 250px;
  padding: 15px;
  margin-left: 5px;

}

#page_list_uls {
  list-style-type: none;
}

#first_a {
  text-decoration: none;
}

#first_a:link {
  text-decoration: none;
}

#first_a:visited {
  font-weight: bold;
}

#first_a:active {
  text-decoration: none;
  color: red;
}

#first_a:hover {
  font-weight: bold;
}
