body{
  text-align: center;
  background: lightblue;
}

header{
  background-image: url("pic1.jpg");
  margin: 0px 30px 0px 30px;
  border: solid 3px lightgrey;
}

hr{
  margin-left: 30px;
  margin-right: 30px;
}

#testVid{
  margin-top: 20px;
}

#div1{
  margin: 10px auto 10px auto;
  padding: 20px;
  width: 664px;
  height: 100px;
  background: lightgrey;
  border: 1px solid black;
  border-radius: 30px;
}

#div2{
  margin: 0px 50px 0px 50px;
}

#secondVid{
  border: solid 3px darkblue;
  border-radius: 30px;
}

#in1stH1{
  color: blue;
  font-size: 150%;
}
