h1 {
	background-color: lightgreen;
	color: DarkBlue;
	text-align: center;
	text-size: 400%;
	border: 2px solid black;
	padding: 30px;
	margin: 50px;
}

#p01 {
	color: red;
	padding: 30px;
	margin: 50px;
}

p.error {
	color: pink;
	padding: 10px;
	margin: 24px;
	background-color: beige;
}

/*
<!-- The following is the way to deal with the colors of a hyperlink button -->
and, you may have noticed, html and css do not comment the same
*/

a:link { 
	color: green;
	background-color: transparent;
	text-decoration: none;
}
a:visited { 
	color: pink;
	background-color: transparent;
	text-decoration: none;
}

a:hover { 
	color: red;
	background-color: transparent;
	text-decoration: none;
}

a:active { 
	color: yellow;
	background-color: transparent;
	text-decoration: none;
}
